<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Day</title>
	<link rel="stylesheet" type="text/css" href="../css/style1.css">
</head>
<body>
	<div class="navbar">
	<ul>
		<img src="../assets/l.jpg" alt="logo">	
		<div class="back"><a href="package.html">Back</a></div>
		<h1 class="title">DAY TOUR</h1>		
		<li><a href="../index1.html">Home</a></li>
		<li><a href="login.html">Login</a></li>
    </ul>
    </div><br><br><br><br>

	<table class="box">
		<tr align="center" >
			<td width="300px"> <img src="../assets/shita.jpg" alt="Shitakundo" width="300px" height="250px"> </td>
			<td > <h3>Shitakundo</h3>
				<p>1 Day Package</p>
			</td>
			<td> Amount : 2000 BDT per person</td>
			<td > <a href="pbooking.php"><button class="book">Book</button></a> <br>
				<a href="preview.php"><button class="review">Review</button></td>
		</tr>
		
        <tr align="center">
			<td width="300px"> <img src="../assets/mohera.jpg" alt="mohera" width="300px" height="250px"> </td>
			<td > <h3>Mohera Jamidar Palace</h3>
				<p>1 Day Package</p>
			</td>
			<td> Amount : 2000 BDT per person</td>
			<td > <a href="pbooking.php"><button class="book">Book</button></a><br>
				<a href="preview.php"><button class="review">Review</button></td>
		</tr>

	</table>










</body>
</html>