<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Packages</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="navbar">
	<ul>
		<img src="../assets/l.jpg" alt="logo" >	
		<h1 class="title">PACKAGES</h1>		
		<li><a href="../index1.html">Home</a></li>
		<li><a href="login.html">Login</a></li>
    </ul>
    </div><br><br><br><br>

	<table align="center">
		<tr align="center" height="70px">
			<td class="catalog_text"> Hill Tracks</td>
			<td class="catalog_text"> Beach </td>
			<td class="catalog_text"> Waterfall </td>
			<td class="catalog_text"> Historical </td>
			<td class="catalog_text"> Day Tour </td>
		</tr>
		<tr align="center">
			<td> <a href="hill.html"> 
		<img src="../assets/hill.jpg" alt="Packages" class="catalog">
		</a> </td>
			<td> <a href="beach.html"> 
		<img src="../assets/beach.jpg" alt="Packages" class="catalog">
		</a></td>
		<td> <a href="waterfall.html"> 
		<img src="../assets/waterfall.jpg" alt="Packages" class="catalog">
		</a> </td>
		<td> <a href="historical.html"> 
		<img src="../assets/historical.jpg" alt="Packages" class="catalog">
		</a> </td>
		<td> <a href="day.html"> 
		<img src="../assets/day.jpg" alt="Packages" class="catalog">
		</a> </td>
		</tr>
	</table>





</body>
</html>