<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Photo</title>
	<link rel="stylesheet" type="text/css" href="../css/style1.css">
</head>
<body>
	<body>
	<div class="navbar">
    <ul>
        <img src="../assets/l.jpg" alt="logo">
        <div class="back"><a href="../index1.html">Back</a></div>  
        <h1 class="title">PHOTO GALLERY</h1>     
    </ul>
    </div><br><br><br><br>


	<center>
		<table class="box">
			<tr>
			<td colspan="4" align="center"><h1>Boga Lake</h1> </td>
			</tr>
			<tr>
			<td><img src="../assets/bg1.jpg" alt="bg" width="450px" height="450px"></td>
			<td><img src="../assets/bg2.jpg" alt="bg" width="450px" height="450px"></td>
			<td><img src="../assets/bg3.jpg" alt="bg" width="450px" height="450px"></td>
			<td><img src="../assets/bg4.jpg" alt="bg" width="450px" height="450px"></td>
			</tr>
			<tr>
			<td colspan="4" align="center"><h1>Sajek Valley</h1> </td>
			</tr>
			<tr>
			<td><img src="../assets/sj1.jpg" alt="sj" width="450px" height="450px"></td>
			<td><img src="../assets/sj2.jpg" alt="sj" width="450px" height="450px"></td>
			<td><img src="../assets/sj3.jpg" alt="sj" width="450px" height="450px"></td>
			<td><img src="../assets/sj4.jpg" alt="sj" width="450px" height="450px"></td>
			</tr>
			<tr>
			<td colspan="4" align="center"><h1>Saint Martin</h1> </td>
			</tr>
			<tr>
			<td><img src="../assets/sm1.jpg" alt="sm" width="450px" height="450px"></td>
			<td><img src="../assets/sm2.jpg" alt="sm" width="450px" height="450px"></td>
			<td><img src="../assets/sm3.jpg" alt="sm" width="450px" height="450px"></td>
			<td><img src="../assets/sm4.jpg" alt="sm" width="450px" height="450px"></td>
			</tr>


		</table>
	</center>

</body>
</html>