<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Read</title>
	<link rel="stylesheet" type="text/css" href="../css/style1.css">
</head>
<body>
	<body>
	<div class="navbar">
    <ul>
        <img src="../assets/l.jpg" alt="logo">
        <div class="back"><a href="../index1.html">Back</a></div>  
        <h1 class="title">READ ABOUT PLACES</h1>     
    </ul>
    </div><br><br><br><br>

	<center>
		<table>
			<tr>
			<td colspan="4" align="center"><h1>Boga Lake</h1> </td>
			</tr>
			<tr>
			<td><img src="../assets/bg1.jpg" alt="bg" width="400px" height="400px"></td>
			<td width="10px"></td>
			<td width="600px" height="400px"><p>Bogakain Lake, also called Baga Lake or Boga Lake, is a lake located in Ruma Upazila in the hill district Bandarban, Bangladesh. It is a natural sweet and deep water lake. Its height from sea level is nearly 1,246 feet (380 m). Geologists believe that it was created by collection of rain water in summer. The lake is irregular in shape. A team of geologists surveyed this lake in 1973. They found the lake's water to be too acidic for any form of life. By the year 1995, the lake's water became abundant with plants and fish. The local residents culture and gather Tilapia fish in this lake.

			People of Bawm tribe migrated from Saikot para to Boga Lake and set up this village.

			A local legend tells that the lake was created after the inhabitants of a Khumi village killed and later devoured a deity who later reappeared to them in the form of a dragon. Instantly an earthquake occurred, the hillside caved in, and the village disappeared and formed a deep lake.</p></td>
			</tr>

			<tr>
			<td colspan="4" align="center"><h1>Sajek Valley</h1> </td>
			</tr>
			<tr>
			<td><img src="../assets/sj1.jpg" alt="sj" width="400px" height="400px"></td>
			<td width="10px"></td>
			<td width="600px" height="400px"><p> Sajek Valley (Bengali: সাজেক উপত্যকা) is one of the popular tourist spots in Bangladesh situated among the hills of the Kasalong range of mountains in Sajek union, Baghaichhari Upazila in Rangamati District. The valley is 2,000 feet (610 m) above sea level.[4] Sajek valley is known as the Queen of Hills & Roof of Rangamati.
			The name of Sajek Valley came from the Sajek River that originates from Karnafuli river. The Sajek river works as a border between Bangladesh and India.

			Sajek is a union located in the north of Chittagong Hill Tracts. It's under Baghaichori Upazila in Rangamati hill district, it is situated 67 kilometres (42 mi) north-east from Khagrachhari town and 95 kilometres (59 mi) north from Rangamati city. The border of Bangladesh and Mizoram of India is 8 kilometres (5.0 mi) east from Sajek.

			Sajek valley is known for its natural environment and is surrounded by mountains, dense forest, and grassland hill tracks. Many small rivers flow through the mountains among which the Kachalong and the Machalong are notable. On the way to Sajek valley, one has to cross the Mayni range and the Mayni river. The road to Sajek has high peaks and falls.</p></td>
			</tr>

			<tr>
			<td colspan="4" align="center"><h1>Saint Martin</h1> </td>
			</tr>
			<tr>
			<td><img src="../assets/sm1.jpg" alt="sm" width="400px" height="400px"></td>
			<td width="10px"></td>
			<td width="600px" height="400px"><p> St. Martin's Island (Bengali: সেন্ট মার্টিন্স দ্বীপ) is a small island (area only 3 km2) in the northeastern part of the Bay of Bengal, about 9 km south of the tip of the Cox's Bazar-Teknaf peninsula, and forming the southernmost part of Bangladesh. There is a small adjoining island that is separated at high tide, called Chera Dwip. It is about 8 kilometres (5 miles) west of the northwest coast of Myanmar, at the mouth of the Naf River.

			Millennia ago, the island used to be an extension of the Teknaf peninsula, but at a later time some portion of this peninsula got submerged and thus the southernmost part of the aforementioned peninsula became an island, and was disconnected from the Bangladesh mainland. The first settlement started 250 years ago, in 18th century, by Arabian merchants who named the island 'Jazira'. During British occupation the island was named after the then Deputy Commissioner of Chittagong Mr. Martin as St. Martin Island. Likely because one or more of the Arabs were Saint and whose name could not be identified. Local names of the island are "Narikel jinjira" which means 'Coconut Island', and "Daruchini Dwip" which means "Cinnamon island". It is the only coral island in Bangladesh.</p></td>
			</tr>


		</table>
	</center>

</body>
</html>