<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Shop</title>
	<link rel="stylesheet" type="text/css" href="../css/style1.css">
</head>
<body>
	<div class="navbar">
	<ul>
		<img src="../assets/l.jpg" alt="logo">	
		<div class="back"><a href="../index1.html">Back</a></div>
		<h1 class="title">TRAVELLING KITS SHOP</h1>		
		<li><a href="../index1.html">Home</a></li>
		<li><a href="login.html">Login</a></li>
    </ul>
    </div><br><br><br><br>

	<table class="box">
		<tr align="center" >
			<td width="300px"> <img src="../assets/tent.jpg" alt="tent" width="300px" height="250px"> </td>
			<td > <h3>Camping Tent</h3>
				<p>For 2 person</p>
			</td>
			<td> Amount : 3000 BDT</td>
			<td > <a href="sbuy.php" id="1"><button class="book">Purchase</button></a> <br>
				<a href="sreview.php"><button class="review">Review</button></a> </td>
		</tr>
		
        <tr align="center" >
			<td width="300px"> <img src="../assets/stove.jpg" alt="stove" width="300px" height="250px"> </td>
			<td > <h3>Camping Stove</h3>
				<p>Portable light-weight stove with one gas can</p>
			</td>
			<td> Amount : 2000 BDT</td>
			<td > <a href="sbuy.php"><button class="book">Purchase</button></a><br>
				<a href="sreview.php"><button class="review">Review</button></a> </td>
		</tr>

		<tr align="center" >
			<td width="300px"> <img src="../assets/lifejacket.jpg" alt="jacket" width="300px" height="250px"> </td>
			<td > <h3>Life Jacket</h3>
				<p>Can carry maximum 90kilos</p>
			</td>
			<td> Amount : 1000 BDT</td>
			<td > <a href="sbuy.php"><button class="book">Purchase</button></a><br>
				<a href="sreview.php"><button class="review">Review</button></a> </td>
		</tr>

		<tr align="center" >
			<td width="300px"> <img src="../assets/pillow.jpg" alt="pillow" width="300px" height="250px"> </td>
			<td > <h3>Inflatable Pillow</h3>
				<p>Light weight pillow for travelling</p>
			</td>
			<td> Amount : 800 BDT</td>
			<td > <a href="sbuy.php"><button class="book">Purchase</button></a><br>
				<a href="sreview.php"><button class="review">Review</button></a> </td>
		</tr>

		<tr align="center" >
			<td width="300px"> <img src="../assets/hammock.jpg" alt="hammock" width="300px" height="250px"> </td>
			<td > <h3>Hammock</h3>
				<p>Light weight and easy to hang</p>
			</td>
			<td> Amount : 1000 BDT</td>
			<td > <a href="sbuy.php"><button class="book">Purchase</button></a><br>
				<a href="sreview.php"><button class="review">Review</button></a> </td>
		</tr>

		<tr align="center" >
			<td width="300px"> <img src="../assets/pant.jpg" alt="pant" width="300px" height="250px"> </td>
			<td > <h3>Trekking Pant</h3>
				<p>Quick dry and comfortable pants</p>
			</td>
			<td> Amount : 600 BDT</td>
			<td > <a href="sbuy.php"><button class="book">Purchase</button></a><br>
				<a href="sreview.php"><button class="review">Review</button></a> </td>
		</tr>

		<tr align="center" >
			<td width="300px"> <img src="../assets/bag.jpg" alt="bag" width="300px" height="250px"> </td>
			<td > <h3>Trekking Bag</h3>
				<p>60ltr</p>
			</td>
			<td> Amount : 2000 BDT</td>
			<td > <a href="sbuy.php"><button class="book">Purchase</button></a> <br>
				<a href="sreview.php"><button class="review">Review</button></a> </td>
		</tr>

	</table>


</body>
</html>