<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hill</title>
	<link rel="stylesheet" type="text/css" href="../css/style1.css">
</head>
<body>
	<div class="navbar">
	<ul>
		<img src="../assets/l.jpg" alt="logo">	
		<div class="back"><a href="package.html">Back</a></div>
		<h1 class="title">WATERFALL</h1>		
		<li><a href="../index1.html">Home</a></li>
		<li><a href="login.html">Login</a></li>
    </ul>
    </div><br><br><br><br>

	<table class="box">
		<tr align="center" >
			<td width="300px"> <img src="../assets/humhum.jpg" alt="humhum" width="300px" height="250px"> </td>
			<td > <h3>Humhum Waterfall</h3>
				<p>1 Days & 2 Nights Package</p>
			</td>
			<td> Amount : 3000 BDT per person</td>
			<td > <a href="pbooking.php"><button class="book">Book</button></a><br>
				<a href="preview.php"><button class="review">Review</button></td>
		</tr>
		
        <tr align="center">
			<td width="300px"> <img src="../assets/dhup.jpg" alt="dhuppani" width="300px" height="250px"> </td>
			<td > <h3>Dhuppani Waterfall</h3>
				<p>2 Days & 3 Nights Package</p>
			</td>
			<td> Amount : 3000 BDT per person</td>
			<td > <a href="pbooking.php"><button class="book">Book</button></a><br>
				<a href="preview.php"><button class="review">Review</button></td>
		</tr>

	</table>

</body>
</html>